*.pickle
.idea
*.iml
*.pyc
*.ipynb
.ipynb_checkpoints
.pytest_cache
glue_data/*
out/*
venv/*
data/*
**/*.aux
**/*.log
**/*.out
# **/*.pdf
**/*.synctex.gz
**/*.toc
**/*.gz
**/*.zip
**/*.tar.gz
**/*.tar
**/*.tgz
**/*.fdb_latexmk
**/*.fls
**/*.blg
**/*.bbl
ag_news_csv/*
